body {
    background-color: #585858;
    text-align: center;
    color: whitesmoke;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 25px;
}

input[type=text] {
    background-color: #585858;
    border: none;
    border-bottom: 2px solid #118C4E;
    color: whitesmoke;
    font-size: 20px;
    text-align: center;
}

input[type=text]:focus {
    outline: none;
}

select {
    width: 18%;
    /*padding: 16px 20px;*/
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

select:focus {
    outline: none;
}

button[type=submit] {
    background-color: #FF9009;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
}

button[type=submit]:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button[type=submit]:focus {
    outline: none;
}

#paragraphDiv {
    border: 2px solid green;
    margin: 0 auto;
    width: 50%;
    height: 200px;
}

#emptyParagraph {
    padding: 0 20px 0 20px;
}